@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0.5rem;
}

:root, :before, :after, * {
    --vf-px-group-tabs-sm: 0.1rem;
}
.dark, .dark *, .dark :before, .dark :after {
    --vf-bg-input: var(--vf-dark-600);
}

